---
layout: default
---

<div class='o-wrapper'>
  <div class='o-grid'>
    {% for post in paginator.posts %}

    <div class='o-grid__col'>

      <a href='{{ post.url | prepend: site.baseurl }}' class='c-post-card {% if forloop.first == true %} c-post-card--first {% endif %} {% if forloop.last == true %} c-post-card--last {% endif %}'>
        <h1 class='c-post__title'>{{ post.title }}</h1></a>
        
        <span class='c-post-card__date'>{{ post.date | date: '%d %b %Y' }} &mdash; {% include read-time.html %} &mdash; {{ site.author.name}}</span>

        {% if post.image.teaser %}
          <img src="{{ post.image.teaser }}" class='c-post__image' alt='{{ post.title }}'>
          {% if post.image.creditlink %}
            <span class="credit_image"><center><em>Photo by <a href="{{ post.image.creditlink }}">{{ post.image.author }}</a></em></center></span>
            {% endif %}
        {% endif %}

        <div class='c-post-card__excerpt u-font-medium'>
          <!-- {{ post.content | strip_html | truncatewords:35 }} -->
          {% assign words = post.content | strip_html | number_of_words %}

          {% if post.page_type != "long" %}
        
            {% if words > 100 %}
              {{ post.excerpt }} 
              <a href="{{ site.baseurl }}{{ post.url }}">Read more &rarr;</a><br><br>
            {% else %}
              {{ post.content }}
            {% endif %}
          {% else %}
            {{ post.content }}
          {% endif %}
        </div>

        
      </a>

    </div>
    {% endfor %}
  </div>

  <div class='o-grid'>
    {% include pagination.html %}
  </div>
</div>