---
layout: default
title: Home
with_header: true
---

{% for post in paginator.posts %}
{% if post.sticky == true %}
  <article class=''>
    {% if post.link %}
      <span class='grayish'>{{ post.date | date: '%B %-d, %Y' }} &mdash; <a href='{{ post.url }}'>link to the post</a></span>
      <h1 class='h3 mb0'><a href='{{ post.link }}'>{{ post.title }} &rarr;</a></h1>
    {% else %}
      <div class='mb2'>
        <h1 class='m0'><a href='{{ site.baseurl }}{{ post.url }}'>{{ post.title }}</a></h1>
        <time class='grayish'>{{ post.date | date: '%B %-d, %Y' }} &mdash; {% include read-time.html %} &mdash; Sticky Post</time>
      </div>
    {% endif %}

    {% if post.summary %}
      {% if post.image.teaser %}
        <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}{{ post.image.teaser }}"></a>
      {% else if post.image.feature %}
      <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}{{ post.image.feature }}"></a>
      {% endif %}
      {{ post.summary | markdownify }}
      <a href='{{ site.baseurl }}{{ post.url }}/'>Continue reading &rarr;</a>
    {% else %}
      {% if post.layout != post %}
        {% assign words = post.content | strip_html | number_of_words %}
        {% if post.page_type != "long" %}
        
          {% if words > 110 %}
            {{ post.excerpt }} <a href="{{ site.baseurl }}{{ post.url }}">Read more &rarr;</a>
          {% else %}
            {{ post.content }}
          {% endif %}

        {% else %}
          {{ post.content }}
        {% endif %}

      {% endif %}
    {% endif %}
    </article>
  {% endif %}
  
{% endfor %}


{% for post in paginator.posts %}
  <article class=''>
    {% if post.link %}
      <span class='grayish'>{{ post.date | date: '%B %-d, %Y' }} &mdash; <a href='{{ post.url }}'>link to the post</a></span>
      <h1 class='h3 mb0'><a href='{{ post.link }}'>{{ post.title }} &rarr;</a></h1>
    {% else %}
      <div class='mb2'>
        <h1 class='m0'><a href='{{ site.baseurl }}{{ post.url }}'>{{ post.title }}</a></h1>
        <time class='grayish'>{{ post.date | date: '%B %-d, %Y' }} &mdash; {% include read-time.html %}</time>
      </div>
    {% endif %}

    {% if post.summary %}
    {% if post.image.teaser %}
      <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.image.teaser }}"></a>
    {% else if post.image.feature %}
      <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.image.feature }}"></a>
    {% endif %}
    {% if post.image.credit %}
    <p><center><em>Photo by <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a> on {{ post.image.source }}</em></center></p>
    {% endif %}
      {{ post.summary | markdownify }}
      <a href='{{ site.baseurl }}{{ post.url }}/'>Continue reading &rarr;</a>
    {% else %}
      {% if post.layout != post %}
        {% assign words = post.content | strip_html | number_of_words %}

        {% if post.page_type != "long" %}
        
          {% if words > 100 %}
          {% if post.image.teaser %}
          <a href="{{ site.url }}{{ post.url }}"><img src="{{ post.image.teaser }}"></a>
        {% else if post.image.feature %}
        <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.image.feature }}"></a>
        {% endif %}

            {{ post.excerpt }} 
            <a href="{{ site.baseurl }}{{ post.url }}">Read more &rarr;</a><br><br>
          {% else %}
            {{ post.content }}
          {% endif %}

        {% else %}
          {{ post.content }}
        {% endif %}

      {% endif %}
    {% endif %}

    {% if post %}
      {% assign tags = post.tags  %}
    {% else %}
      {% assign tags = page.tags %}
    {% endif %}
    <div class="grayish">
    Tag{% if post.tags.size > 1 %}s{% endif %}:
    {% for tag in tags %}
      <a href="/tags#{{tag|slugify}}">{{tag}}</a>{% unless forloop.last %},{% endunless %}
    {% endfor %}
    </div>
  </article>
  <hr class='half-width'/>

{% endfor %}

{% include pagination.html %}
