---
layout: default
title: Home
---


{% for post in paginator.posts %}
<div class="docs-section" id="intro">
  <h3>
    <a class="title-link" href="{{site.baseurl}}{{post.url}}">
    {{ post.title }}
  </a></h3>

  {{ post.content }}
  <br>
  <div class="panel-footer">
  {% assign taglist = post.tags | sort %}

  {% for tag in taglist | order: descending %}
    <a class="button " href="/tag/#{{ tag | cgi_escape }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>
    {% if forloop.last != true %}  {% endif %}
  {% endfor %}

  <h6 class="docs-header" datetime="{{ post.date | date_to_xmlschema }}" >posted {{ post.date | date_to_long_string }}</h6>
</div>
{% endfor %}

<div class="container">
  {% comment %}
  {% if paginator.total_pages > 1 %}
    <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Previous page</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next page &rarr;</a>
      </li>
      {% endif %}
    </ul>
  {% endif %}
{% endcomment %}

</div>

<div class="section-foot">
  <div class="containers" >
  {% if paginator.next_page %}
    <a class="button button-primary older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="button button-primary  pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="button pagination-item newer">Newer</span>
  {% endif %}
  </div>
</div>
