@use 'variables' as *;

/* Basscss Color Base */

body {
  color: var(--color-body-text);
  background-color: var(--color-body-bg);
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: none;

}
a:visited {
  text-decoration: none;
}

pre,
code {
  background-color: var(--color-lighter-gray);
  border-radius: $border-radius;
  padding: 0px 10px;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
}
