/* Basscss Color Base */

body {
  color: #323232;
  background-color: white;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #00A0FF;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  
}
a:visited {
  text-decoration: none;
}

pre,
code {
  background-color: $lighter-gray;
  border-radius: $border-radius;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
}
