<hr class="full-width">
<div class="elsewhere">
    <h4>Elsewhere</h4>
    <ul class="list-inline">
        <li><a href="https://twitter.com/dedenf">Twitter</a> &mdash;</li>
        <li><a href="https://seputarfinansial.com/">Seputar Finansial</a> &mdash;</li>
        <li><a href="https://jakartadev.com/">JakartaDEV</a> &mdash;</li>
        <li><a href="https://notes.dedenf.com/feed.xml">RSS</a> &mdash;</li>
        <li><a href="https://dedenf.substack.com/subscribe?simple=true&next=https%3A%2F%2Fdedenf.substack.com%2F">Newsletter</a></li>
    </ul>
</div>
<hr class="full-width">
<div class="text-left meta">
    &copy; notes.dedenf.com 2011 &mdash; {{ 'now' | date: "%Y" }} <br>
    Deden Fathurahman, <a href="https://notes.dedenf.com/colophon">Colophon</a>. <br>
    <ul class="list-inline">
        <li><a href="https://notes.dedenf.com/tags/#daily-found">Reading</a></li>
        <li><a href="https://notes.dedenf.com/">Writing</a></li>
        <li><a href="https://notes.dedenf.com/archive">Archive</a></li>
        <li><a href="https://notes.dedenf.com/about">About</a></li>
    </ul>
</div>


{% if page.gallery == true %}
<script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-pager.js/master/dist/lg-pager.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-autoplay.js/master/dist/lg-autoplay.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-hash.js/master/dist/lg-hash.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-share.js/master/dist/lg-share.js"></script>
<script>
    lightGallery(document.getElementById('aniimated-thumbnials'), {
        thumbnail:true
    }); 
</script>
{% endif %}