<head>
  <meta charset="UTF-8">
  <link href="https://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name='description' content="{{ site.description }}" />
  <meta charset="utf-8">
  <meta name="robots" content="index, follow">
  <meta name="theme-color" content="#f4f5f6">
  <meta name="apple-mobile-web-app-status-bar-style" content="#f4f5f6">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title and page.title != 'Home' %}
      {{ page.title }} &middot; {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/style.css">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/atom.xml">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="/public/favicon.png"/>

  <link rel="canonical" href="{{ site.url }}">
  <link rel="image_src" href="/images/sites/noun_717989_cc.png">

  <!-- Sharing -->
  {% if page.title == "Home" %}
  <meta property="og:title" content="{{ site.title }}" />
  {% else %}
  <meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
  {% endif %}
	<meta property="og:site_name" content="{{ site.title }} | {{ site.tagline }}"/>
	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
   {% if page.content contains '<!--break-->' %}
  <meta property="og:description" content="{{ page.content | strip_html| truncatewords:50 | split:'<!--break-->' | first }}" />
   {% endif %}
	<meta property="og:type" content="website" />
  {% if page.title == "Home" %}
	<meta property="og:image" content="{{ site.baseurl }}/images/sites/logo.png" />
  {% else %}
  <meta property="og:image" content="{{ site.baseurl }}{{ page.image.teaser }}" />
  {% endif %}
  
  {% if page.title != "" %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@dedenf">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.content | strip_html| truncatewords:50 | split:'<!--break-->' | first }}">
  <meta name="twitter:image:src" content="{{ site.baseurl }}/images/sites/logo.png">
  {% endif %}


  <meta itemprop="name" content="{{ page.title }}" />
	<meta itemprop="headline" content="{{ page.title }}" />
	<meta itemprop="author" content="dedenf, deden fathurahman" />
	<meta itemprop="description" content="{{ page.content | strip_html| truncatewords:50 | split:'<!--break-->' | first }}" />
	<link itemprop="url" href="{{ site.url }}{{ page.url }}" />


  {% include google_analytics.html %}

  <!-- <script>
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
    analytics.load("EPr4PHwCZ3odvj0jOEsbJFozLmStBRVn");
    analytics.page();
    }}();
  </script> -->
</head>
