<header class='mt4 mb3 ml4 mr1 sm-ml2'>
  <h1 class='mb1'><a href='{{ site.baseurl }}/'> {{ site.title }} </a></h1>
  <div class='mxn1' role='navigation'>
    <a class='btn button-narrow' href='{{ site.baseurl }}'>Home</a>
    <a class='btn button-narrow' href='{{ site.baseurl }}/about'>About</a>
    <a class='btn button-narrow' href='{{ site.baseurl }}/archive'>Archive</a>
    <a class='btn button-narrow' href='{{ site.baseurl }}/my-reading' title="links, article, anything worth reading and bookmarking">Reading</a>
    <a class='btn button-narrow' href='{{ site.baseurl }}/feed'><i class="fa fa-rss" aria-hidden="true"></i> Feed</a>
  </div>
</header>
