<li class='c-nav__item' role='presentation'><a class='btn button-narrow' href='{{ site.baseurl }}/about'>About</a></li>
<li class='c-nav__item' role='presentation'><a class='btn button-narrow' href='{{ site.baseurl }}/archives'>Archives</a></li>
<li class='c-nav__item' role='presentation'><a class='btn button-narrow' href='{{ site.baseurl }}/my-reading' title="links, article, anything worth reading and bookmarking">Reading</a></li>
<li class='c-nav__item' role='presentation'><a class='btn button-narrow' href='{{ site.baseurl }}/feed'><i class="fa fa-rss" aria-hidden="true"></i> Feed</a></li>