
<a class='nav-link' href='{{ site.baseurl }}/' title="Back to Home">Home</a>
<a class='nav-link' href='{{ site.baseurl }}/archives' title="Site Archives">Archives</a>
<a class='nav-link' href='{{ site.baseurl }}/now' title="What i am dong right now">/Now</a>
<a class='nav-link' href='{{ site.baseurl }}/my-reading' title="links, article, anything worth reading and bookmarking">Reading</a>
<a class='nav-link' href='{{ site.baseurl }}/feed' title="Feed for your RSS reader">Feed</a>
<a class='nav-link' href='https://today.dedenf.com/' title="Things I Learn Today">TIL</a>
<a class='nav-link' href='{{ site.baseurl }}/about' title="About this site">About</a>
    