<footer class='py4'>
  <nav class="pagination">
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
    <a class='h3' href="{{ site.baseurl }}/">&larr; Newer</a>
  {% else %}
    <a class='h3 button' href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/">&larr; Newer</a>
  {% endif %}
  {% else %}
  <span class='h3'>&nbsp;</span>
  {% endif %}

  {% if paginator.next_page %}
    <a class='h3 button' href="{{ site.baseurl }}/page/{{ paginator.next_page }}/">Older &rarr;</a>
  {% else %}
    <span class='h3'>&nbsp;</span>
  {% endif %}
  </nav>
  {% include footer.html %}
</footer>
