<footer class='py4'>
    <nav class="pagination">
        {% if page.previous.url %}
        <a class='h3' href="{{ site.baseurl }}{{ page.previous.url }}/">&larr; Older</a>
        {% else %}
          <span class='h3'>&nbsp;</span>
        {% endif %}

        {% if page.next.url %}
          <a class='h3' href="{{ site.baseurl }}{{ page.next.url }}/">Newer &rarr;</a>
        {% else %}
          <span class='h3'>&nbsp;</span>
        {% endif %}
    </nav>
      {% include footer.html %}
  
</footer>
