/*------------------------------------*\
  Elements > img
\*------------------------------------*/


@media (min-width:1200px){
  .author__avatar{
    display:table-cell;
    vertical-align:top;
    width:36px;height:36px;
    margin-left:0;
    margin-right:100px;
    margin-bottom:100px;
    text-align:left;
    float: left;
    display: flex;
  }
  .author__avatar img{max-width:110px;border-radius:50%}


  .c-post__image, article img, img{
      display: block;
      max-width: 130%;
      height: auto;
      padding: 0em 0;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  }
  
}


@media (min-width:320px) and (max-width:1199px) {
  .author__avatar{ 
    display:table-cell;
    vertical-align:top;
    width:36px;
    height:36px;
    margin-left:0;
    margin-right:100px;
    margin-bottom:100px;
    text-align: left;
    float: left;
    display: flex;
  }
  .author__avatar img{max-width:110px;border-radius:50%}

  .c-post__image, article img, img{
      display: block;
      max-width: 100%;
      height: auto;
      padding: 0em 0;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  }
  
}