---
layout: default
---

<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col'>
      <article class='c-post'>
        <h2>Archives</h2>
        {% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %B'"  %}
        {% for yearMonth in postsByYearMonth %}
        <h3>{{ yearMonth.name }}</h3>
            <ul>
            {% for post in yearMonth.items %}
                <li><a href="{{ post.url }}">{{ post.title }}</a> &mdash; {{ post.date | date: '%d %b' }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
      </article>
    </div>
  </div>

</div>