<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body>
    <main class="wrapper">
      <nav class="navigation">
        <section class="container">

          <a class="navigation-title float-left" href="{{ site.url }}">
            <h1 class="title">my notes</h1>
          </a>

          <ul class="navigation-list float-right">
            <li class="navigation-item">
              <a class="navigation-link" href="/about/">About</a>
            </li>
            <li class="navigation-item">
              <a class="navigation-link" href="/archive/">Archives</a>
            </li>
          </ul>
        </section>
      </nav>
      <section class="container" id="post-content">
        {{ content }}
      </section>


      <footer class="footer">
        <section class="container">
          <p>notes.dedenf.com</p>
        </section>
      </footer>

    </main>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.js"></script>
  </body>
</html>
