---
layout: default
---

<p><a href='{{ site.baseurl }}/'>&larr; back to home</a></p>

<article class='justify'>
  <div class='mb2'>
  <h2 class='h3 mb0'><a href='{{ page.link }}'>{{ page.title }} &rarr;</a></h2>
    <!-- <a href="{{site.author.url}}">{{ site.author.name }}</a> &mdash; <br> -->
    <time class='grayish'>Posted on {{ page.date | date: '%B %-d, %Y' }}</time> &mdash; 
    <span class="grayish"><i class="far fa-clock"></i> {% include read-time.html %}</span>
  </div>
  {{ content }}
</article>

{% if site.comments != false and page.comments != false %}
    <div class="post-comments" itemprop="comment">
      {% include custom_comments_provider.html %}
    </div>
{% endif %}

{% include post_pagination.html %}
