---
layout: default
---
{% include base_path %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='o-wrapper'>
  <div class='o-grid'>
    <div class='o-grid__col'>
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>
        
        <p><a href='{{ site.baseurl }}/'>&larr; back to home</a></p>
        <h1 class='c-post__title'><a href='{{ page.link }}'>{{ page.title }} &rarr;</a></h1>
        <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>{{ page.date | date: '%d %b %Y' }} &mdash; <i class="far fa-clock"></i> {% include read-time.html %}</time>

        {{ content }}

        {% if site.comments != false and page.comments != false %}
            <div class="post-comments" itemprop="comment">
                {% include disqus.html %}
            </div>
        {% endif %}


      </article>
</div>
</div>
</div>