---
layout: default
---

<div class="post">
  <h3>
    <a class="title-link" href="{{site.baseurl}}{{post.url}}">
    {{ page.title }}
  </a></h3>

  {{ content }}

  {% for tag in page.tags %}
    <a class="button" href="/tag/#{{ tag | cgi_escape }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>
  {% endfor %}

  <br />
  <h6 class="docs-header" >{{ page.date | date_to_long_string }}</h6>

</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <h6 class="docs-header" >
        <a href="{{ post.url }}">
          {{ post.title }}
          <small>{{ post.date | date_to_string }}</small>
        </a>
      </h6>
    </li>
    {% endfor %}
  </ul>
</div>
